.simple-text {
    margin-left: 1vw;
    font-size: larger;
}

.date-time {
    margin-top: 10px;
}

.logout {
    cursor: pointer;
}

.active {
    background-color: rgb(1, 52, 87);
}

.sidebar .nav li>a {
    margin: 5px 15px 0;
}