<div class="row">
    <div class="col-6">
        <input class="form-control customSearch" type="text" placeholder="Search subcategories" name="search" [(ngModel)]="searchRecord">
    </div>
    <div class="col-6">
        <button (click)="openNewSubCategoryModel()" data-toggle="modal" data-target="#subCategoryModal" data-backdrop="static" data-keyboard="false" class="btn btn-primary btn-round animation-on-hover">Add New subcategory</button>
    </div>
</div>
<br><br>
<div class="row">
    <div *ngFor="let category of categoryHierarchy; let i = index" class="col-6">
        <div class="card">
            <div class="card-header dish-header">

                <div class="row">
                    <div class="col-lg-9">
                        <h4 class="card-title"> {{category.categoryName | uppercase}} <img [src]="category.url" width="30" height="30"> </h4>
                    </div>

                    <div class="col-lg-3">

                        <span (click)="deleteCategory(category.categoryId)" style="margin-left: 20px; cursor: pointer;" class="pull-right"> <i class="tim-icons icon-simple-remove" data-toggle="tooltip"
                                title="Remove Category"></i>
                        </span>

                        <span class="pull-right" data-toggle="modal" data-target="#categoryModal" data-backdrop="static" data-keyboard="false" (click)="updateCategory(category)" style="cursor: pointer;"> <i class="tim-icons icon-pencil" data-toggle="tooltip"
                                title="Edit Category"></i>
                        </span>
                    </div>
                </div>

            </div>
            <div class="card-body dish-body">

                <table *ngIf="category.subCategories.length" class="table tablesorter">
                    <thead class=" text-primary">
                        <tr>
                            <th>
                                S No
                            </th>
                            <th>
                                Sub-category Name
                            </th>
                            <th class="text-center">
                                Category
                            </th>
                            <th class="text-center">
                                Image
                            </th>
                            <th class="text-center">
                                Actions
                            </th>
                    </thead>
                    <tbody>
                        <tr *ngFor="let subCategory of category.subCategories | filter: searchRecord; let i = index">
                            <td>
                                {{i + 1}}
                            </td>
                            <td>
                                {{subCategory.subCategoryName}}
                            </td>
                            <td class="text-center">
                                {{subCategory.categoryName}}
                            </td>

                            <td class="text-center">
                                <img [src]="subCategory.url" width="30" height="30">
                            </td>

                            <td class="text-center">
                                <span (click)="updateSubCategory(subCategory)" data-toggle="modal" data-target="#subCategoryModal" data-backdrop="static" data-keyboard="false">

                                    <i class="tim-icons icon-pencil" style="cursor: pointer;" data-toggle="tooltip"
                                        title="Edit sub-category"></i></span> &nbsp;
                                <span>
                                    <i (click)="deleteSubCategory(subCategory)" style="cursor: pointer;" data-toggle="tooltip"
                                        title="Remove sub-category" class="tim-icons icon-simple-remove"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="card">
            <div data-toggle="modal" data-target="#categoryModal" data-backdrop="static" data-keyboard="false" (click)="openCategoryModal()" style="cursor: pointer; height: 460px;" class="flex-container">
                <i style="font-size: 48px" class="tim-icons icon-simple-add"></i>
                <br>
                <span> ADD NEW CATEGORY </span>
            </div>
        </div>
    </div>
</div>




<!--Sub-category Save / Update Modal -->
<div class="modal fade model-config" id="subCategoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="top: -100px">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add / Update Sub-category</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="subCategoryForm">

                    <div class="form-group">
                        <label for="subCategoryName">Sub-category Name</label>
                        <input id="subCategoryName" type="text" formControlName="subCategoryName" class="form-control modal-input" placeholder="Enter subcategory name">
                    </div>
                    <div class="form-group">
                        <label for="category">Select Category</label>
                        <select class="form-control modal-input" formControlName="categoryId" id="category">
                            <option *ngFor="let category of categoryHierarchy; let i = index"
                                [value]="categoryHierarchy[i].categoryId">
                                {{ categoryHierarchy[i].categoryName }}
                            </option>
                        </select>
                    </div>
                    <br>
                    <div class="form-group">
                        <label class="upload-custom" for="uploadImage">Click here to Upload Image</label>
                        <input (change)="onFileSelect($event, 'newSubCategory')" type="file" name="file" accept="image/png,image/jpeg" />
                        <span *ngIf="subCategoryForm.value.uploadImage && !fileError"> File Selected:
                            {{subCategoryForm.value.uploadImage.name}} </span>
                        <br>
                        <small *ngIf="fileError" style="color: red;"> Please upload JPG and PNG images only less than
                            300 KB.</small>
                    </div>
                </form>
            </div>

            <div class="modal-footer">

                <button (click)="saveSubCategory()" [disabled]="!subCategoryForm.valid || fileError" type="submit" class="btn btn-primary" data-dismiss="modal">SAVE</button> &nbsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>


<!-----------------------------------  category modal------------------------- -->
<!-- Save Modal -->
<div class="modal fade model-config" id="categoryModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel">Add / Update Product Category</h3>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    <i class="tim-icons icon-simple-remove"></i>
                </button>
            </div>
            <div class="modal-body">

                <form [formGroup]="categoryForm">

                    <div class="form-group">
                        <label for="categoryName">Category Name</label>
                        <input id="categoryName" type="text" formControlName="categoryName" class="form-control modal-input" placeholder="Enter Category Name">
                    </div>
                    <div class="form-group">
                        <label class="upload-custom" for="uploadImage">Click here to Upload Image</label>
                        <input (change)="onFileSelect($event, 'newCategory')" type="file" name="file" accept="image/png,image/jpeg" />
                        <span *ngIf="categoryForm?.value.uploadImage && !fileError"> File Selected:
                            {{categoryForm.value.uploadImage.name}} </span>
                        <br>
                        <small *ngIf="fileError" style="color: red;"> Please upload JPG and PNG images only with size
                            less than 300 KB.</small>
                    </div>
                </form>
            </div>

            <div class="modal-footer">

                <button (click)="saveCategory()" [disabled]="!categoryForm.valid || fileError" type="submit" class="btn btn-primary" data-dismiss="modal">SAVE</button> &nbsp;
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>